APP_ENV=production
FLASK_SECRET_KEY=troque-essa-chave

DATABASE_URL=postgresql+psycopg2://usuario:senha@localhost:5432/painel_leads
DB_SCHEMA=public
LEADS_VIEW=vw_leads_painel_lite

HOST=0.0.0.0
PORT=8000

LOG_LEVEL=INFO
EXPORT_MAX_ROWS=50000
GESTAO_RANKING_MIN_LEADS=20
